.portofolio-card1-speaker-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.portofolio-card1-iframe {
  width: 891px;
  height: 550px;
  align-self: center;
}
.portofolio-card1-first-name {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
.portofolio-card1-root-class-name {
  height: auto;
}





.portofolio-card1-root-class-name6 {
  height: auto;
}





